#main_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
#field {
  width: max-content;
  border: black solid 1px;
  border-radius: 4px;
  padding: 17px;
}

#btnSub {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#login {
  padding: 0 2rem 0 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

#titulo {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

.sideLeft {
  min-height: 100vh;
  background: url('../Imgs/pattern.png');
  background-repeat: repeat;
  background-position: center center;
}
.sideLeftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: url('../Imgs/pattern.png');
  background-repeat: repeat;
  background-position: center center;
}
.sideRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  box-shadow: -5px 0 10px 0px rgba(0, 0, 0, 0.2);
}
.no-padding {
  padding: 0px !important;
}
